<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <div class="container-fluid" ng-controller="todoController as todoList">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <div class="col-md-5"><h2>Simple Todo</h2></div>
              <div class="col-md-6">
                <form id="add-todo" ng-submit="todoList.addTodo()">
                  <input type="text" ng-model="todoList.todoName" placeholder="Enter Todo" required>
                  <input type="submit" class="btn-primary" value="Add">
                </form>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <ul class="todo-list col-md-5 col-md-offset-1">
            <li ng-repeat="todo in todoList.todos">
              <label>
                <input type="checkbox" ng-model="todo.done" />
              </label>
              <span ng-hide="editing" ng-click="editing = true" class="todo-item done-{{todo.done}}">{{ todo.name }}</span>

              <form ng-show="editing">
                <input ng-model="todo.name" ng-blur="editing = false" type="text" value="{{ todo.name }} required">
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>  

  </body>
</html>